html,
body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  padding: 1rem;
}

/*
* SVG
*/

#stepCount .bar-label {
  fill: #50E3C2;
}

#flightsClimbed .bar-label {
  fill: #7ED321;
}

#distanceWalkingRunning .bar-label {
  fill: #4A90E2;
}

#sleepCycle .bar-label {
  fill: #D0021B;
}

.bar {
  cursor: pointer;
}

.bar.active {
  opacity: 0.5;
}

.bar-label {
  text-align: center;
  fill: #333;
  font-size: 12px;
}

.bar--sleep {
  fill: #D0021B;
}

.mean-text {
  font-size: 12px;
  fill: #aaa;
}

/*
* Loader styles
*/

.loader {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.loader.hide {
  display: none;
}

/*
* Spinner
* Source: http://tobiasahlin.com/spinkit/
*/

.spinner {
  margin: 1rem auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #D0021B;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*
* Title styles
*/

.title {
  float: left;
}

.title-text {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-align: left;
}

.title-text small {
  font-size: 0.67rem;
  font-weight: 100;
}

.time-filter {
  float: right;
  width: 260px;
  position: relative;
}

header {
  background: #fff;
  padding: 1rem;
  position: relative;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

header button {
  border: none;
  outline: none;
  background: transparent;
}

.time-filter-prev,
.time-filter-next {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1pt solid red;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  transform: scale(1);
}

.time-filter-prev:active,
.time-filter-next:active {
  transform: scale(0.94);
}

.time-filter-prev {
  left: 1rem;
}

.time-filter-prev::before,
.time-filter-prev::after,
.time-filter-next::before,
.time-filter-next::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.time-filter-prev::before,
.time-filter-prev::after {
  background-image: url('icon/nav-before.svg');
}

.time-filter-prev::before {
  transform: translateX(0);
  opacity: 0.5;
}

.time-filter-prev::after {
  transform: translateX(50%);
  opacity: 0;
}

.time-filter-prev:hover::before {
  transform: translateX(-50%);
  opacity: 0;
}

.time-filter-prev:hover::after {
  transform: translateX(0);
  opacity: 1;
}

.time-filter-next::before,
.time-filter-next::after {
  background-image: url('icon/nav-next.svg');
}

.time-filter-next::before {
  transform: translateX(0);
  opacity: 0.5;
}

.time-filter-next::after {
  transform: translateX(-50%);
  opacity: 0;
}

.time-filter-next:hover::before {
  transform: translateX(50%);
  opacity: 0;
}

.time-filter-next:hover::after {
  transform: translateX(0);
  opacity: 1;
}

.time-filter-next {
  right: 1rem;
}

.time-filter-pills {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.time-filter-pill {
  display: inline-block;
  border: 1px solid #D0021B;
  color: #D0021B;
  position: relative;
  width: 70px;
  height: 30px;
}

.time-filter-pill button {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  color: #D0021B;
  cursor: pointer;
}

.time-filter-pill:hover,
.time-filter-pill.active {
  background-color: #D0021B;
}

.time-filter-pill:hover button,
.time-filter-pill.active button {
  color: #fff;
}

.time-filter-pill:first-child {
  border-radius: 4px 0px 0px 4px;
}

.time-filter-pill:last-child {
  border-radius: 0px 4px 4px 0px;
}

.group::before,
.group::after {
  content: ' ';
  display: block;
  clear: both;
}
